<%- include("./partials/header") -%>
<div class="home">
    <h1>Home</h1>
    <p> <%= homeText %> </p>
</div>
<% postsArray.forEach((item)=>{ %>
    <div class="post">
    <h3>
        <%= item.postTitle %>
    </h3>
    <p>
        <%= item.postText.substring(0, 100) + " ..." %> 
    <a href="/posts/<%= lodash.kebabCase(item.postTitle) %>">Read More</a>

    </p>
    </div>
<% }) %>
<%- include("./partials/footer") -%>
