<%- include("./partials/header") -%>
<div class="home">
    <h1>Home</h1>
    <p> <%= homeText %> </p>
</div>
<% postsArray.forEach((item)=>{ %>
    <div class="post">
    <h3>
        <%= item.name %>
    </h3>
    <p>
        <%= item.text.substring(0, 100) + " ..." %> 
    <a href="/posts/<%= item._id %>">Read More</a>
    </p>
    </div>
<% }) %>
<%- include("./partials/footer") -%>
